.footer{
    background-color: #5AFF80;
}

.icon{

    
    margin-top: 80px;
   

}
.icon i{
    font-size: 30px;
    padding: 30px;
    margin: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:1px solid white;
}